*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: gray;
    padding: 15px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4,65px);
    
}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: rgb(136, 192, 189);
    /* border: none; */
    color: black;
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button{
    height: 48px;
    width: 48px;
    background-color: antiquewhite;
    border-radius: 50px;
    margin: 8px;
    font-size: 20px;
    /* border: none; */

}

.equal{
    width: 115px;
    
}